global_defs {
    enable_script_security
    script_user keepalived_script
}

vrrp_script check_nginx {
    script "/usr/local/bin/check_nginx.sh"
    user keepalived_script
    interval 2
    weight -20
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state {{ vrrp_role }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ vrrp_priority }}
    advert_int {{ keepalived_advertise_interval_secs }}

    # Unicast is required for AWS (no multicast) and works perfectly locally too
    unicast_src_ip {{ ansible_host }}
    unicast_peer {
{% for peer in groups['nginx'] %}
{% if hostvars[peer]['ansible_host'] != ansible_host %}
        {{ hostvars[peer]['ansible_host'] }}
{% endif %}
{% endfor %}
    }

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

{% if env_type | default('local') == 'aws' %}
    # AWS mode: API-driven failover for Elastic IP
    notify_master "/usr/local/bin/claim_eip.sh"
{% endif %}

    # MUST be present in BOTH environments so VRRP packets are valid (for some reason ¯\_(ツ)_/¯)
    virtual_ipaddress {
        {{ keepalived_vip }}
    }

    track_script {
        check_nginx
    }
}
